<table class="table table-striped table-inverse">
    <thead>
    <th class="row">
        <h2>Parametry</h2>
    </th>
    {{#each images}}
        <th class="row">
            <img src="{{this}}"/>
        </th>
    {{/each}}
    </thead>
    <tbody>
    <tr class="row">
        <td class="key">Tytuł</td>
        {{#each titles}}
            <td class="">
                <a href="{{lookup ../links @index}}" target="_blank">
                    {{this}}
                </a>
            </td>
        {{/each}}
    </tr>
    {{#each properties}}
        <tr class="row {{rowDifferences this.identical}}">
            <td class="key">{{@key}}</td>
            {{#each this.data}}
                <td class="">{{this.value}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
    <thead>
    <th class="row">
        <h2>Wyposażenie</h2>
    </th>
    {{#each images}}
        <th class="row"/>
    {{/each}}
    </thead>
    <tbody>
    {{#each features}}
        <tr class="row {{rowDifferences this.identical}}">
            <td class="key">{{@key}}</td>
            {{#each this.data}}
                <td class="{{getFeatureClass this.value}} feature">{{hasFeatureOrNot this.value}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>