<table class="table table-striped table-inverse">
    <thead>
    <th class="row">
        <h2>Parametry</h2>
    </th>
    {{#each images}}
        <th class="row">
            <img width="300px" src="{{this}}"/>
        </th>
    {{/each}}
    </thead>
    <tbody>
    {{#each properties}}
        <tr class="row">
            <td class="key">{{@key}}</td>
            {{#each this}}
                <td class="">{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
    <thead>
    <th class="row">
        <h2>Wyposażenie</h2>
    </th>
    {{#each images}}
        <th class="row"/>
    {{/each}}
    </thead>
    <tbody>
    {{#each features}}
        <tr class="row">
            <td class="key">{{@key}}</td>
            {{#each this}}
                <td class="{{getFeatureClass this}}">{{hasFeatureOrNot this}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>